body {
    font-family: Roboto;
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#header-logo {
    width: 100px;
    height: auto
}

nav a {
    text-decoration: none;
    color: #e5e7eb;
}

#hero {
    display: flex;
}

.hero-left h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.hero-left p {
    font-size: 18px;
    color: #e5e7eb;
}

#placeholder-img {
    width: 400px;
    height: auto;

}

button {
    color: white;
    border: none;
    background-color: #3882f6;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#info {
    background-color: white;

}

#info h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    text-align: center;
    padding: 20px;
}

.info-boxes {
    display: flex;
}

.info-img {
    width: 200px;
    height: auto;
    border: 5px solid #3882f6;
    border-radius: 18px;
}

#quote {
    background-color: #e5e7eb;
}

#quote p {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

#quote cite {
    font-style: italic;
    font-size: 18px;
    font-style: normal;
    align-self: flex-end;
}

#cta-section {
    background-color: #e5e7eb;
    padding: 30px;
}

.blue-box {
    color: #e5e7eb;
    background-color: #3882f6;
    padding: 20px;
    margin: 50px;
    border: 10px solid #3882f6;
    border-radius: 20px;
    display: flex;
}

.blue-box div button {
}


footer {
    display: flex;
    justify-content: center;
    color: #e5e7eb;
}

