body {
    font-family: Roboto;
    background-color: #1f2937;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#header-logo {
    width: 100px;
    height: auto
}

nav a {
    text-decoration: none;
    color: #e5e7eb;
}

#hero {
    display: flex;
}

.hero-left h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.hero-left p {
    font-size: 18px;
    color: #e5e7eb;
}

#placeholder-img {
    width: 400px;
    height: auto;
}

button {
    color: white;
    border: none;
    background-color: #3882f6;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#info {
    background-color: white;

}

#info h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    text-align: center;
    padding: 20px;
}


footer {
    display: flex;
    justify-content: center;
}

